@media (max-width: 744px){
	.menu__list{
		position: fixed;
		margin: 0px 0px 0px 90px;
	}
}
@media (max-width: 660px){
	.menu__list{
		position: fixed;
		margin: 0px 0px 0px 90px;
	}
}
@media (max-width: 544px){
	.menu__list{
		position: fixed;
		margin: 0px 0px 0px 90px;
	}
	.menu__list>li:hover .sub-menu__list{
		display: none;	
	}
}
@media (max-width: 444px){
	.logo img{
		margin: 10px 0px 0px -20px;
	}
	.menu__list{
		position: absolute;
		flex-direction: row;
		margin: 15px 0px 0px 60px;
	}
	.header{
		position: fixed;
	}
	.menu__list>li:hover .sub-menu__list{
		display: none;	
	}
}

@media (max-width: 410px){
	.menu__list{
		position: absolute;
		flex-direction: row;
		margin: 0px 0px 0px 70px;
		font-size: 17px;
	}
	.header{
		position: absolute;
	}
	.menu__list>li:hover .sub-menu__list{
		display: none;	
	}
}
@media (max-width: 320px){
	.logo img{
		display: none;
	}
	.menu__list{
		position: absolute;
		flex-direction: row;
		margin: 0px 0px -60px 0px;
		font-size: 17px;
	}
	.header{
		position: absolute;
	}
	.menu__list>li:hover .sub-menu__list{
		display: none;	
	}
}

@media (max-width: 280px){
	.logo img{
		display: none;
	}
	.menu__list{
		position: absolute;
		flex-direction: row;
		margin: 0px 0px -60px 0px;
		font-size: 17px;
	}
	.header{
		position: absolute;
	}
	.menu__list>li:hover .sub-menu__list{
		display: none;
	}
}